@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@media print {
    @page { margin: 0; }
}

a {
    text-decoration: none;
    color: inherit;
}
main {
    min-height: 3vh;
}
.space {
    width: 4px;
    height: auto;
    display: inline-block;
}
.center {
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    min-height: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 500px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 2px 16px;
}
.img1{
    height: 5%;
}

header {
    height: 80px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#logo{
    text-align: left;
    padding-left: 5px;
}
h1{
    height: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}
#username{
    text-align: right;
    margin-right: 5px;
}

#copyright{
    padding-top: 10px;
    padding-right: 20px;
    float: right;
}
#curso{
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}
h2{
    margin-top: 50px;
    text-align: Center;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
}

nav {
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    flex-grow: 1;
    text-align: center;
    padding: 1em;
    position: relative;
}
.w3-tooltip, .w3-display-container {
    position: relative;
}

.w3-center{
    text-align: center!important;
}
.w3-wide {
    letter-spacing: 10px;
}
.w3-black, .w3-hover-black:hover {
    color: #fff!important;
    background-color: #000!important;
}
.w3-padding-large {
    padding: 12px 24px!important;
}
.w3-xlarge {
    font-size: 24px!important;
}
.w3-animate-opacity {
    animation: opac 0.8s;
}
.w3-wide {
    letter-spacing: 4px;
}

/*
CSS DA DIV DA ZONA RESERVADA
*/

/*CSS DO FORM*/
.center:container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.login-page {
    width: 600px;
    padding: 8% 0 0;
    margin: auto;
    padding-bottom: 5%;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 600px;
    padding: 45px;
    text-align: center;
    box-shadow: 10px 10px 30px green;
}
.form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

select{
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;

    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.container {
    margin: auto;
    /*position: relative;*/
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
html{
    height: 100%;
}
body {
    background: #76b852; /* fallback for old browsers */
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
    height: auto !important;
}

#caixaFiltrar{
    margin-top: 20px;
    margin-left: 20px;
    width: 500px;
}

.btn-info{
    margin-left: 20px;
}
  